@mixin breakpoint($point){
    @if $point == elg{
        @media(max-width:1200px){@content;}
    }@else if $point == lg{
        @media(max-width:992px){@content;}
    }
    @else if $point == md{
        @media(max-width:768px){@content;}
    }
    @else if $point == sm{
        @media(max-width:576px){@content;}
    }@else if $point == xs{
        @media(max-width:480px){@content;}
    }@else if $point == xss{
        @media(max-width:340px){@content;}
    }
}
[class *="__container"] {
    width: 90%;
    // width: 1150px;
    padding: 0px 15px;
    margin: 0 auto;

    // @include breakpoint(elg) {
    //     width: 915px;
    //     padding: 0px 15px;
    // }

    // @include breakpoint(lg) {
    //     width: 720px;
    //     padding: 0px 15px;
    // }

    // @include breakpoint(md) {
    //     width: 550px;
    //     padding: 0px 15px;
    // }

    // @include breakpoint(sm) {
    //     width: 470px;
    //     padding: 0px 15px;
    // }

    // @include breakpoint(xs) {
    //     width: 90%;
    //     padding: 0px 15px;
    // }
}