.content{
    padding-bottom: 200px;
    padding-top: 100px;
}
.product__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product__top-content{
    display: flex;
    flex-direction: row;
}
.product__bottom-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-articul{
    padding-left: 0px;
}
.product-image{
    width: 285px;
}
.product__top-content__info{
    padding-left: 135px;
}
.product-status{
    padding-left: 0px;
    font-size: 13px;
}
.product-buy__btn{
    display: flex;
    flex-direction: row;
    margin-top: 115px;
    margin-left: 385px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
.buy-button{
    width: 140px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.price{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
}
.product-name{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
.table-block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom:  1px solid gray;
    padding-bottom: 30px;
    padding-top: 50px;
    width: 95%;
}
.table-item{
    font-family: "Montserrat";
    color: white;
    padding-right: 50px;
}
.product__bottom-content__title{
    font-family: "Montserrat";
    font-weight: 400;
}
.product__bottom-content{
    padding-top: 100px;
}

@media(max-width:1180px){
    .product-buy__btn{
        margin-left: 285px;
    }
}
@media(max-width:1024px){
    .product-buy__btn{
        margin-left: 0px;
    }
}
@media(max-width:767.98px){
    .product__top-content__info {
        padding-left: 65px;
    }
}
@media(max-width:625px){
    .products__container{
        width: 95%;
    }
    .product__top-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .product__top-content__info{
        padding-left: 10px;
    }
    .product-name{
        font-size: 25px;
    }
    .product__bottom-content {
        padding-left: 10px;
    }
}